<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <div class="manage_main">
        <div class="sidebar">
          <div class="sidebar_box">
            <div class="sidebar_title">
              <span class="sidebar_title_text">Lemon Tree</span>
            </div>
            <div class="sidebar_menu">
              <div class="menu_box">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M12 2L3 9V20C3 20.5304 3.21071 21.0391 3.58579 21.4142C3.96086 21.7893 4.46957 22 5 22H19C19.5304 22     20.0391           21.7893     20.4142 21.4142C20.7893 21.0391 21 20.5304 21 20V9L12 2Z" stroke="#222222" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M9 22V12H15V22" stroke="#222222" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <a href="/admin/main" class="menu_text focus">메인</a>
              </div>
              <div class="menu_box">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M12 0C8.7 0 6 3.36 6 7.5C6 11.64 8.7 15 12 15C15.3 15 18 11.64 18 7.5C18 3.36 15.3 0 12 0ZM5.73 15C2.55 15.15 0 17.76 0 21V24H24V21C24 17.76 21.48 15.15 18.27 15C16.65 16.83 14.43 18 12 18C9.57 18 7.35 16.83 5.73 15Z" fill="#9A9A9A"/>
                </svg>
                <a href="/admin/client_list" class="menu_text">회원목록</a>
              </div>
              <div class="menu_box">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M6 2H14L20 8V20C20 20.5304 19.7893 21.0391 19.4142 21.4142C19.0391 21.7893 18.5304 22 18 22H6C5.46957 22 4.96086 21.7893 4.58579 21.4142C4.21071 21.0391 4 20.5304 4 20V4C4 3.46957 4.21071 2.96086 4.58579 2.58579C4.96086 2.21071 5.46957 2 6 2Z" stroke="#9A9A9A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M14 2V8H20" stroke="#9A9A9A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M16 13H8" stroke="#9A9A9A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M16 17H8" stroke="#9A9A9A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M10 9H9H8" stroke="#9A9A9A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <a href="/admin/reservation_manage" class="menu_text">예약관리</a>
              </div>
              <div class="menu_box">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M21.4142 20.4142C21.7893 20.0391 22 19.5304 22 19V8C22 7.46957 21.7893 6.96086 21.4142 6.58579C21.0391 6.21071 20.5304 6 20 6H11L9 3H4C3.46957 3 2.96086 3.21071 2.58579 3.58579C2.21071 3.96086 2 4.46957 2 5V19C2 19.5304 2.21071 20.0391 2.58579 20.4142C2.96086 20.7893 3.46957 21 4 21H20C20.5304 21 21.0391 20.7893 21.4142 20.4142Z" stroke="#9A9A9A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                  <a href="/admin/prog_manage" class="menu_text">프로그램 관리</a>
              </div>
            </div>
          </div>
        </div>
        <div class="header">
          <span class="header_text">Lemon Tree</span>        
        </div>
        <div class="menu_bar">
          <div class="main_page"><a href="/admin/main" class="menu_text focus">메인</a></div>
          <div class="client_list"><a href="/admin/client_list" class="menu_text">회원목록</a></div>
          <div class="reserv_manage"><a href="/admin/reservation_manage" class="menu_text">예약관리</a></div>
          <div class="prog_manage"><a href="/admin/prog_manage" class="menu_text">프로그램관리</a></div>
        </div>
        <div class="main">
          <div class="table">
            <div class="table_content a">
              <div class="table_title"><span class="table_title_text">금일 예약</span></div>
              <div class="row_top">
                <span  class="row_text name">이름</span>
                <span  class="row_text number">휴대폰 번호</span>
                <span  class="row_text sex">성별</span>
                <span  class="row_text std">재학생</span>
                <span  class="row_text prog">프로그램</span>
                <span  class="row_text count">횟수</span>
                <span  class="row_text note">비고</span>
                <span  class="row_text date">예약 날짜</span>
                <span  class="row_text time">시간</span>
              </div>
              <% Object.keys(reservationsByTimeToday).forEach((time) => { %>
                <div class="row_time"><span class="row_time_text"><%= time %></span></div>
                <% if (reservationsByTimeToday[time].length === 0) { %>
                  <!-- 시간대에 예약 정보가 없는 경우, 두 개의 빈 껍데기 표시 -->
                  <div class="row a">
                    <span class="row_text name"></span>
                    <span class="row_text number"></span>
                    <span class="row_text sex"></span>
                    <span class="row_text std"></span>
                    <span class="row_text prog"></span>
                    <span class="row_text count"></span>
                    <span class="row_text note"></span>
                    <span class="row_text date"></span>
                    <span class="row_text time"></span>
                  </div>
                  <% if (time !== '18:30') { %>
                    <!-- 18:30 타임이 아닌 경우에만 row b 표시 -->
                    <div class="row b">
                      <span class="row_text name"></span>
                      <span class="row_text number"></span>
                      <span class="row_text sex"></span>
                      <span class="row_text std"></span>
                      <span class="row_text prog"></span>
                      <span class="row_text count"></span>
                      <span class="row_text note"></span>
                      <span class="row_text date"></span>
                      <span class="row_text time"></span>
                    </div>
                  <% } %>
                <% } else if (reservationsByTimeToday[time].length === 1) { %>
                  <!-- 시간대에 예약 정보가 1명만 있는 경우, row a에 정보 표시 -->
                  <div class="row a">
                    <span class="row_text name"><%= reservationsByTimeToday[time][0].name %></span>
                    <span class="row_text number"><%= reservationsByTimeToday[time][0].phone %></span>
                    <span class="row_text sex"><%= reservationsByTimeToday[time][0].gender %></span>
                    <span class="row_text std"><%= reservationsByTimeToday[time][0].std %></span>
                    <span class="row_text prog"><%= reservationsByTimeToday[time][0].prog_name %></span>
                    <span class="row_text count"><%= reservationsByTimeToday[time][0].prog_count %></span>
                    <span class="row_text note"><%= reservationsByTimeToday[time][0].note %></span>
                    <span class="row_text date"><%= reservationsByTimeToday[time][0].reservation_date %></span>
                    <span class="row_text time"><%= reservationsByTimeToday[time][0].prog_time %></span>
                  </div>
                  <% if (time !== '18:30') { %>
                    <!-- 18:30 타임이 아닌 경우에만 row b 표시 -->
                    <div class="row b">
                      <span class="row_text name"></span>
                      <span class="row_text number"></span>
                      <span class="row_text sex"></span>
                      <span class="row_text std"></span>
                      <span class="row_text prog"></span>
                      <span class="row_text count"></span>
                      <span class="row_text note"></span>
                      <span class="row_text date"></span>
                      <span class="row_text time"></span>
                    </div>
                  <% } %>
                <% } else { %>
                  <!-- 시간대에 여러 예약 정보가 있는 경우, 스트라이프 스타일로 번갈아 가면서 표시 -->
                  <% reservationsByTimeToday[time].forEach((reservation, index) => { %>
                    <% const rowClass = index % 2 === 0 ? 'a' : 'b'; %>
                    <div class="row <%= rowClass %>">
                      <span class="row_text name"><%= reservation.name %></span>
                      <span class="row_text number"><%= reservation.phone %></span>
                      <span class="row_text sex"><%= reservation.gender %></span>
                      <span class="row_text std"><%= reservation.std %></span>
                      <span class="row_text prog"><%= reservation.prog_name %></span>
                      <span class="row_text count"><%= reservation.prog_count %></span>
                      <span class="row_text note"><%= reservation.note %></span>
                      <span class="row_text date"><%= reservation.reservation_date %></span>
                      <span class="row_text time"><%= reservation.prog_time %></span>
                    </div>
                  <% }); %>
                <% } %>
              <% }); %>             
            </div>
            <div class="table_content b">
              <div class="table_title"><span class="table_title_text">익일 예약</span></div>
              <div class="row_top">
                <span  class="row_text name">이름</span>
                <span  class="row_text number">휴대폰 번호</span>
                <span  class="row_text sex">성별</span>
                <span  class="row_text std">재학생</span>
                <span  class="row_text prog">프로그램</span>
                <span  class="row_text count">횟수</span>
                <span  class="row_text note">비고</span>
                <span  class="row_text date">예약 날짜</span>
                <span  class="row_text time">시간</span>
              </div>
              <% Object.keys(reservationsByTimeTomorrow).forEach((time) => { %>
                <div class="row_time"><span class="row_time_text"><%= time %></span></div>
                <% if (reservationsByTimeTomorrow[time].length === 0) { %>
                  <!-- 시간대에 예약 정보가 없는 경우, 두 개의 빈 껍데기 표시 -->
                  <div class="row a">
                    <span class="row_text name"></span>
                    <span class="row_text number"></span>
                    <span class="row_text sex"></span>
                    <span class="row_text std"></span>
                    <span class="row_text prog"></span>
                    <span class="row_text count"></span>
                    <span class="row_text note"></span>
                    <span class="row_text date"></span>
                    <span class="row_text time"></span>
                  </div>
                  <% if (time !== '18:30') { %>
                    <!-- 18:30 타임이 아닌 경우에만 row b 표시 -->
                    <div class="row b">
                      <span class="row_text name"></span>
                      <span class="row_text number"></span>
                      <span class="row_text sex"></span>
                      <span class="row_text std"></span>
                      <span class="row_text prog"></span>
                      <span class="row_text count"></span>
                      <span class="row_text note"></span>
                      <span class="row_text date"></span>
                      <span class="row_text time"></span>
                    </div>
                  <% } %>
                <% } else if (reservationsByTimeTomorrow[time].length === 1) { %>
                  <!-- 시간대에 예약 정보가 1명만 있는 경우, row a에 정보 표시 -->
                  <div class="row a">
                    <span class="row_text name"><%= reservationsByTimeTomorrow[time][0].name %></span>
                    <span class="row_text number"><%= reservationsByTimeTomorrow[time][0].phone %></span>
                    <span class="row_text sex"><%= reservationsByTimeTomorrow[time][0].gender %></span>
                    <span class="row_text std"><%= reservationsByTimeTomorrow[time][0].std %></span>
                    <span class="row_text prog"><%= reservationsByTimeTomorrow[time][0].prog_name %></span>
                    <span class="row_text count"><%= reservationsByTimeTomorrow[time][0].prog_count %></span>
                    <span class="row_text note"><%= reservationsByTimeTomorrow[time][0].note %></span>
                    <span class="row_text date"><%= reservationsByTimeTomorrow[time][0].reservation_date %></span>
                    <span class="row_text time"><%= reservationsByTimeTomorrow[time][0].prog_time %></span>
                  </div>
                  <% if (time !== '18:30') { %>
                    <!-- 18:30 타임이 아닌 경우에만 row b 표시 -->
                    <div class="row b">
                      <span class="row_text name"></span>
                      <span class="row_text number"></span>
                      <span class="row_text sex"></span>
                      <span class="row_text std"></span>
                      <span class="row_text prog"></span>
                      <span class="row_text count"></span>
                      <span class="row_text note"></span>
                      <span class="row_text date"></span>
                      <span class="row_text time"></span>
                    </div>
                  <% } %>
                <% } else { %>
                  <!-- 시간대에 여러 예약 정보가 있는 경우, 스트라이프 스타일로 번갈아 가면서 표시 -->
                  <% reservationsByTimeTomorrow[time].forEach((reservation, index) => { %>
                    <% const rowClass = index % 2 === 0 ? 'a' : 'b'; %>
                    <div class="row <%= rowClass %>">
                      <span class="row_text name"><%= reservation.name %></span>
                      <span class="row_text number"><%= reservation.phone %></span>
                      <span class="row_text sex"><%= reservation.gender %></span>
                      <span class="row_text std"><%= reservation.std %></span>
                      <span class="row_text prog"><%= reservation.prog_name %></span>
                      <span class="row_text count"><%= reservation.prog_count %></span>
                      <span class="row_text note"><%= reservation.note %></span>
                      <span class="row_text date"><%= reservation.reservation_date %></span>
                      <span class="row_text time"><%= reservation.prog_time %></span>
                    </div>
                  <% }); %>
                <% } %>
              <% }); %>
            </div>
          </div>
        </div>
    </div>
    <!--모달-->
    <div class="modal_back">
      <div class="modal">
        <form method="POST" class="reservationForm">
        <div class="info_modal">
          <div class="modal_header">
            <span class="modal_header_title">예약 상세정보</span>
            <div class="confirm_btn" data-action="">
              <span class="confirm_btn_text">확정</span>
            </div>
          </div>
          <div class="modal_main">
            <div class="client info">
              <span class="client info_title">예약자 정보</span>
              <div class="info_box name">
                <span class="box_name">이름</span>
                <input type="text" name="" class="inputbox name">
              </div>
              <div class="info_box number">
                <span class="box_name">번호</span>
                <input type="text" name="" class="inputbox number">
              </div>
              <div class="info_box sex">
                <span class="box_name">성별</span>
                <input type="text" name="" class="inputbox sex">
              </div>
              <div class="info_box note">
                <span class="box_name">비고</span>
                <textarea name="" class="inputbox note"></textarea>
              </div>
            </div>
            <div class="reserv info">
              <span class="reserv info_title">예약 정보</span>
              <div class="info_box date">
                <span class="box_name">예약날짜</span>
                <input type="text" name="" class="inputbox date">
              </div>
              <div class="info_box prog">
                <span class="box_name">프로그램</span>
                <input type="text" name="" class="inputbox prog">
              </div>
              <span class="fare info_title">요금 정보</span>
              <div class="info_box fare">
                <div class="fare_content">
                  <span class="fare_box">횟수</span>
                  <input type="text" name="" class="inputbox count" readonly>
                </div>
                <div class="fare_content">
                  <span class="fare_box">재학생</span>
                  <input type="text" name="" class="inputbox std">
                </div>
                <div class="fare_content">
                  <span class="fare_box">정상가</span>
                </div>
                <div class="fare_content">
                  <span class="fare_box">할인가</span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal_footer">
            <span class="btn modify" data-action="">수정</span>
            <span class="btn pay" data-action="">결제</span>
            <span class="btn cancel" data-action="">예약 취소</span>
          </div>
        </div>
      </form>
      </div>
    </div>
    <!--모달-->
    <script src="/reserv_manage_script.js"></script>
</body>
</html>
