<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>매출관리</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <div class="manage_main">
        <div class="sidebar">
          <div class="sidebar_box">
            <div class="sidebar_title">
              <span class="sidebar_title_text">Lemon Tree</span>
            </div>
            <div class="sidebar_menu">
              <div class="menu_box">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M12 2L3 9V20C3 20.5304 3.21071 21.0391 3.58579 21.4142C3.96086 21.7893 4.46957 22 5 22H19C19.5304 22     20.0391           21.7893     20.4142 21.4142C20.7893 21.0391 21 20.5304 21 20V9L12 2Z" stroke="#9A9A9A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M9 22V12H15V22" stroke="#9A9A9A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <a href="/admin/main" class="menu_text">메인</a>
              </div>
              <div class="menu_box">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M12 0C8.7 0 6 3.36 6 7.5C6 11.64 8.7 15 12 15C15.3 15 18 11.64 18 7.5C18 3.36 15.3 0 12 0ZM5.73 15C2.55 15.15 0 17.76 0 21V24H24V21C24 17.76 21.48 15.15 18.27 15C16.65 16.83 14.43 18 12 18C9.57 18 7.35 16.83 5.73 15Z" fill="#9A9A9A"/>
                </svg>
                <a href="/admin/client_list" class="menu_text">회원목록</a>
              </div>
              <div class="menu_box">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M6 2H14L20 8V20C20 20.5304 19.7893 21.0391 19.4142 21.4142C19.0391 21.7893 18.5304 22 18 22H6C5.46957 22 4.96086 21.7893 4.58579 21.4142C4.21071 21.0391 4 20.5304 4 20V4C4 3.46957 4.21071 2.96086 4.58579 2.58579C4.96086 2.21071 5.46957 2 6 2Z" stroke="#9A9A9A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M14 2V8H20" stroke="#9A9A9A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M16 13H8" stroke="#9A9A9A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M16 17H8" stroke="#9A9A9A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M10 9H9H8" stroke="#9A9A9A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <a href="/admin/reservation_manage?reserv_status=예약대기" class="menu_text">예약관리</a>
              </div>
              <div class="menu_box">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M21.4142 20.4142C21.7893 20.0391 22 19.5304 22 19V8C22 7.46957 21.7893 6.96086 21.4142 6.58579C21.0391 6.21071 20.5304 6 20 6H11L9 3H4C3.46957 3 2.96086 3.21071 2.58579 3.58579C2.21071 3.96086 2 4.46957 2 5V19C2 19.5304 2.21071 20.0391 2.58579 20.4142C2.96086 20.7893 3.46957 21 4 21H20C20.5304 21 21.0391 20.7893 21.4142 20.4142Z" stroke="#9A9A9A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                  <a href="/admin/prog_manage" class="menu_text">프로그램 관리</a>
              </div>
              <div class="menu_box">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path d="M1.48022 0.680176C1.06022 0.680176 0.730225 1.12018 0.730225 1.68018V4.68018H24.7302V1.68018C24.7302 1.12018 24.4002 0.680176 23.9802 0.680176H1.48022ZM0.730225 8.68018V23.6802C0.730225 24.2402 1.06022 24.6802 1.48022 24.6802H23.9802C24.4002 24.6802 24.7302 24.2402 24.7302 23.6802V8.68018H0.730225ZM3.73022 16.6802H6.73022V20.6802H3.73022V16.6802ZM9.73022 16.6802H12.7302V20.6802H9.73022V16.6802Z" fill="#222222"/>
                </svg>
                  <a href="/admin/sale_manage" class="menu_text focus">매출 관리</a>
              </div>
            </div>
          </div>
        </div>
        <div class="header">
          <span class="header_text">Lemon Tree</span>       
        </div>
        <div class="menu_bar">
          <div class="main_page"><a href="/admin/main" class="menu_text">메인</a></div>
          <div class="client_list"><a href="/admin/client_list" class="menu_text focus">회원목록</a></div>
          <div class="reserv_manage"><a href="/admin/reservation_manage?reserv_status=예약대기" class="menu_text">예약관리</a></div>
          <div class="prog_manage"><a href="/admin/prog_manage" class="menu_text">프로그램관리</a></div>
          <div class="sale_manage"><a href="/admin/sale_manage" class="menu_text focus">매출관리</a></div>
        </div>
        <div class="main">
          <div>
            <div>

            </div>
          </div>
          <div class="sale_table">
            <div class="sale_search">
              <span class="sale_search_text">기간조회</span>
              <form action="/admin/sale_manage/search" method="get" id="searchForm">
                <input type="date" name="startDate" id="startDateInput" required> ~
                <input type="date" name="endDate" id="endDateInput" required>
              </form>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none" id="searchIcon">
                <path d="M17.5 17.5L13.875 13.875M15.8333 9.16667C15.8333 12.8486 12.8486 15.8333 9.16667 15.8333C5.48477 15.8333 2.5 12.8486 2.5 9.16667C2.5 5.48477 5.48477 2.5 9.16667 2.5C12.8486 2.5 15.8333 5.48477 15.8333 9.16667Z" stroke="#667085" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <table class="table a">
              <thead class="table_content a" style="background: #E9EAEC;">   
                <tr class="row_top">
                    <th  class="row_text name_client"></th>
                    <th  class="row_text number_client">건수</th>
                    <th  class="row_text dob">총매출</th>
                </tr>
              </thead>
              <tbody>
                  <tr class="row">
                    <td class="row_text name_client">합계</td>
                    <td class="row_text number_client"><%= totalItems %>회</td>
                    <td class="row_text dob"><%= total_price %>원</td>
                  </tr>
              </tbody>
            </table>
          </div>
          <table class="table a">
            <thead class="table_content a">   
              <tr class="row_top">
                  <th  class="row_text name_client">No.</th>
                  <th  class="row_text number_client">결제일자</th>
                  <th  class="row_text dob">프로그램</th>
                  <th  class="row_text sex_client">결제금액</th>
              </tr>
            </thead>
            <tbody>
              <% sales.forEach((sale, index) => { %>
                <tr class="row <%= index % 2 === 0 ? 'a' : 'b' %>">
                  <td class="row_text name_client"><%= sale.id %></td>
                  <td class="row_text number_client"><%= formatDateString(sale.sale_date) %></td>
                  <td class="row_text dob"><%= sale.prog_name %></td>
                  <td class="row_text sex_client"><%= sale.price %>원</td>
                </tr>
              <% }); %>
              
              <% function formatDateString(date) {
                   if (date instanceof Date) {
                     // 날짜 객체인 경우 'yyyy-mm-dd' 형식으로 형식화
                     return date.getFullYear() + '-' + pad((date.getMonth() + 1), 2) + '-' + pad(date.getDate(), 2);
                   } else {
                     // 문자열인 경우에는 그대로 반환
                     return date;
                   }
                 }
              
                 function pad(number, length) {
                   // 숫자를 지정한 자릿수로 패딩
                   return ('0000' + number).slice(-length);
                 }
              %>
            </tbody>
          </table>
          <div class="pagination">
            <ul class="pagination-list">
                <% for (let page = 1; page <= totalPages; page++) { %>
                    <li class="pagination-item">
                        <a href="/admin/sale_manage?page=<%= page %>" class="pagination-link <%= encodeURIComponent(page) === currentPage ? 'active' : '' %>"><%= page %></a>
                    </li>
                <% } %>
            </ul>
          </div>
        </div>
    </div>
    <script src="/sale_manage_script.js"></script>
</body>
</html>